/* ====================== Nav Breadcrumbs ====================== */
#breadcrumb {
    padding: 10px 20px 16px;
    list-style: none;
    background-color: #eee;
    margin: 0;
    text-transform: uppercase;

    /* 40px is the total left and right padding */
    width: calc(100% - 40px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #2500ff;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map-Name-Pic ====================== */
.map-name-pic {
  display: flex;
  flex-wrap: wrap;
}

#map-container {
  background: blue none repeat scroll 0 0;
  height: 300px;
  width: 100%;
}

#map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

#restaurant-name {
  color: #2500ff;
  font-family: Arial,sans-serif;
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0;
  line-height: 1.1;
  margin: 15px 0;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
}

#restaurant-img {
  width: 100%;
}

/* ============== Map-Name-Pic Responsive Breakpoint ============== */
@media screen and (min-width: 700px) {
  #map-container {
    width: 50%;
    height: unset;
  }

  #restaurant-name {
    order: -1;
  }

  .img-container {
    width: 50%;
  }
}

/* ====================== Restaurant Info ====================== */
#restaurant-info {
  border-bottom: 1px solid #d9d9d9;
}

#restaurant-cuisine {
  background-color: #333;
  color: #ddd;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
}

.margined {
  display: flex;
  flex-wrap: wrap;
  margin: 0 1em;
}

.restaurant-location,
#restaurant-hours {
  width: 100%;
}

#restaurant-borough,
#restaurant-address {
  font-size: 12pt;
  margin: 10px 0px;
}

#restaurant-hours {
  margin: 0 0 10px 0;
}

#restaurant-hours td {
  color: #666;
  font-size: 1.2em;
}

/* ====================== Reviews Section ====================== */
#reviews-container {
  padding: 1em;
}

#reviews-container h2 {
  color: #2500ff;
  font-size: 24pt;
  font-weight: 300;
  letter-spacing: -1px;
  padding-bottom: 1pt;
  text-align: center;
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  border-radius: 20px 0;
  display: block;
  list-style-type: none;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;
}

.review-header {
  align-items: center;
  background-color: #333;
  display: flex;
  padding: 0 2em;
  justify-content: space-between;
}

.review-header p {
  color: #ddd;
  font-size: 1.2em;
  margin: 20px 0;
}

.review-body {
  padding: 0 2em;
}

.review-body p {
  margin: 15px 0;
  text-align: justify;
}

.review-body p span {
  background-color: orange;
  border-radius: 4px;
  padding: 0.4em 1em;
}
